<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Aplicação desenvolvida para o Macarrão Show do mercado Lar de Medianeira - PR">
	<meta name="keywords" content="macarrao, show, medianeira, pr, lar">
	<meta name="author" content="Régis Eduardo Weizenmann Gregol">
     
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />   

    <title>Macarrão Show</title>
   	<%= stylesheet_link_tag "application", :media => "all" %>
   	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />

  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
